In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [4]:
os.chdir('C:/Users/cspru/Desktop/CSC 8633 - Group Project/anonymisedData/')

In [5]:
df_assessments = pd.read_csv("assessments.csv")
df_courses = pd.read_csv("courses.csv")
df_vle = pd.read_csv("vle.csv")
df_sa = pd.read_csv("studentAssessment.csv")
df_si = pd.read_csv("studentInfo.csv")
studentRegistration_df = pd.read_csv("studentRegistration.csv")
df_sv = pd.read_csv("studentVle.csv")

In [6]:
df_si.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass
1,AAA,2013J,28400,F,Scotland,HE Qualification,20-30%,35-55,0,60,N,Pass
2,AAA,2013J,30268,F,North Western Region,A Level or Equivalent,30-40%,35-55,0,60,Y,Withdrawn
3,AAA,2013J,31604,F,South East Region,A Level or Equivalent,50-60%,35-55,0,60,N,Pass
4,AAA,2013J,32885,F,West Midlands Region,Lower Than A Level,50-60%,0-35,0,60,N,Pass

In [ ]:
ss